html{
	font-family: sans-serif;
}
html,body,header,section,footer,div,ul,ol,li,img,a,span,em,del,legend,center,strong,var,fieldset,form,label,dl,dt,dd,cite,input,hr,time,mark,code,figcaption,figure,textarea,h1,h2,h3,h4,h5,h6,p{
	margin:0;
	border:0;
	padding:0;
	font-style:normal;
}
html,body {
	-webkit-touch-callout:none;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-webkit-user-select:none;
	background-color: #fff;
}
nav,article,aside,details,main,header,footer,section,fieldset,figcaption,figure{
	display: block;
}
img,a,button,em,del,strong,var,label,cite,small,time,mark,code,textarea{
	display:inline-block;
}
header,section,footer {
	position:relative;
}
ol,ul{
	list-style:none;
}
input,button,textarea {
	border:0;
	margin:0;
	padding:0;
	font-size:1em;
	line-height:1em;
	/*-webkit-appearance:none;*/
	background-color:rgba(0, 0, 0, 0);
}
span{
	display:inline-block;
}
a:active, a:hover {
  outline: 0;
}
a, a:visited{
	text-decoration:none;
}

label, .wordWrap{
    word-wrap: break-word;
    word-break: break-all;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,th {
  padding: 0;
}
.clearfix:after{
	content: ' ';
	display: block;
	clear: both;
	visibility:hidden;
	line-height: 0;
	height:0;
}
.loading_more{
	display: block;
	height: 1.5em;
	width: 100%;
}
.loading_more:before {
	display: inline-block; vertical-align: text-bottom;
	content: ' '; height: 16px; width: 16px; margin-right: 6px;
	background: url(../image/loading_more.gif) no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
} 
.loading_more:after {
	content: '加载更多';	
}
@font-face {
	font-family: "tech_iconfont";
	src: url('./fonts/tech-iconfont.ttf') format('truetype');
}

[class^="tech-"], [class*=" tech-"] {
  font-family: 'tech_iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tech-icon_xiangmu:before {
  content: "\e937";
}
.tech-icon_guowai:before {
  content: "\e900";
}
.tech-icon_hot:before {
  content: "\e901";
}
.tech-icon_sucai:before {
  content: "\e902";
}
.tech-icon_wenjianjia_tupian:before {
  content: "\e903";
}
.tech-icon_img:before {
  content: "\e904";
}
.tech-icon_jia_close:before {
  content: "\e905";
}
.tech-icon_jia_wenzi:before {
  content: "\e906";
}
.tech-icon_jia:before {
  content: "\e907";
}
.tech-icon_jiamokuai:before {
  content: "\e908";
}
.tech-icon_jiantou_down:before {
  content: "\e909";
}
.tech-icon_jiantou_up:before {
  content: "\e90a";
}
.tech-icon_jiantou:before {
  content: "\e90c";
}
.tech-icon_jiaruxiaozu:before {
  content: "\e90e";
}
.tech-icon_layersucces:before {
  content: "\e90f";
}
.tech-icon_lock:before {
  content: "\e910";
}
.tech-icon_luyin:before {
  content: "\e911";
}
.tech-icon_map:before {
  content: "\e912";
}
.tech-icon_map2:before {
  content: "\e913";
}
.tech-icon_message:before {
  content: "\e914";
}
.tech-icon_mokuai:before {
  content: "\e915";
}
.tech-icon_paishe:before {
  content: "\e916";
}
.tech-icon_people:before {
  content: "\e917";
}
.tech-icon_saomiao:before {
  content: "\e918";
}
.tech-icon_select:before {
  content: "\e919";
}
.tech-icon_shezhi:before {
  content: "\e91a";
}
.tech-icon_text:before {
  content: "\e91b";
}
.tech-icon_tianjiaziliao:before {
  content: "\e91c";
}
.tech-icon_tongzhi:before {
  content: "\e91d";
}
.tech-icon_tuichuxiaozu:before {
  content: "\e91e";
}
.tech-icon_unlock:before {
  content: "\e91f";
}
.tech-icon_video:before {
  content: "\e920";
}
.tech-icon_video2:before {
  content: "\e921";
}
.tech-icon_wenben:before {
  content: "\e922";
}
.tech-icon_wenjianjia_geren:before {
  content: "\e923";
}
.tech-icon_wenjianjia_shipin:before {
  content: "\e924";
}
.tech-icon_wenjianjia_shoucang:before {
  content: "\e925";
}
.tech-icon_wenjianjia_wenxian:before {
  content: "\e926";
}
.tech-icon_wenjianjia:before {
  content: "\e927";
}
.tech-icon_word:before {
  content: "\e928";
}
.tech-icon_xiangmu2:before {
  content: "\e929";
}
.tech-icon_yuyintowenzi:before {
  content: "\e92a";
}
.tech-icon_huiyuan:before {
  content: "\e92b";
}
.tech-icon_fujin:before {
  content: "\e92c";
}
.tech-icon_flag:before {
  content: "\e92d";
}
.tech-icon_faxian:before {
  content: "\e92e";
}
.tech-icon_fangdajing:before {
  content: "\e92f";
}
.tech-icon_close:before {
  content: "\e930";
}
.tech-icon_duigou:before {
  content: "\e931";
}
.tech-icon_edit:before {
  content: "\e932";
}
.tech-icon_erweima:before {
  content: "\e933";
}
.tech-icon_diandian:before {
  content: "\e934";
}
.tech-icon_excel:before {
  content: "\e935";
}
.tech-icon_search:before {
  content: "\e90b";
}
.tech-image:before {
  content: "\e90d";
}
.tech-camera:before {
  content: "\e936";
}
.tech-music:before {
  content: "\e941";
}
.tech-film:before {
  content: "\e942";
}
.tech-bin:before {
  content: "\e9ac";
}
.tech-star-half:before {
  content: "\e9d8";
}
.tech-star-full:before {
  content: "\e9d9";
}
.tech-move-up:before {
  content: "\ea46";
}
.tech-move-down:before {
  content: "\ea47";
}
.tech-sort-alpha-asc:before {
  content: "\ea48";
}
.tech-sort-alpha-desc:before {
  content: "\ea49";
}
.tech-sort-numeric-asc:before {
  content: "\ea4a";
}
.tech-sort-numberic-desc:before {
  content: "\ea4b";
}
.tech-sort-amount-asc:before {
  content: "\ea4c";
}
.tech-sort-amount-desc:before {
  content: "\ea4d";
}
.tech-renren:before {
  content: "\ea99";
}
.tech-sina-weibo:before {
  content: "\ea9a";
}