header { background-color: #f2f2f2; }
header ul li { height: 50px; line-height: 50px; text-align: center; display: none; color: #323237; position: relative;font-size: 18px;  }
header ul li.active { display: block; }
#footer{  background-color: #f2f2f2; }
#footer ul li {  padding-top: 1rem; padding-bottom: 10px; position:relative; text-align: center; }
#footer ul li span { display: block; font-size: 1.3rem; line-height: 1.8rem; color: #c0c8cf}
#footer ul li.active { color: #6ab494; }
#footer ul li.active span { color: #5b7b97; }
#footer ul li:nth-child(2) span { font-size: 1.5rem}
#footer ul li:nth-child(3) span { font-size: 2.8rem; top: 8px; position: relative; color: #3ca2fc}
#footer ul li .aui-badge { top: 1.1rem; left: 60%; min-width: .6rem; height: .6rem; border-radius: 1rem; padding: 0rem; line-height: 1rem; }
#footer ul li:nth-child(2) .aui-badge { top:.9rem; height: 1rem; min-width: 1rem; line-height: 1rem; }



