.l-w__10p{
  width: 10%;
}
.l-w__20p{
  width: 20%;
}
.l-w__30p{
  width: 30%;
}
.l-w__40p{
  width: 40%;
}
.l-w__50p{
  width: 50%;
}
.l-w__60p{
  width: 60%;
}
.l-w__70p{
  width: 70%;
}
.l-w__80p{
  width: 80%;
}
.l-w__90p{
  width: 90%;
}
.l-w__100p{
  width: 100%;
}
.l-pad__l-10{
  padding-left: 10px;
}
.l-pad__r-10{
  padding-right: 10px;
}
.txt--l{
  text-align: left;
}
.txt--c{
  text-align: center;
}
.txt--r{
  text-align: right;
}
