.c-content{
  border-bottom: 1px solid #ccc;
  padding: 0px 0 10px;
  display: block;
  margin: 0 0 .3rem;
  position: relative;
}

.c-content__title {
	font-size: .8rem;
	line-height: 1.5rem
}

.c-content__subTitle {
	font-size: .6rem;
	color: #8b8b8b;
	line-height: 1.2rem:
}

.c-content__pic {
	height: 3.5rem;
}

.c-content__pic--item {
	height: 3.5rem;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
  box-sizing: border-box;
  /*float: left;*/

  width: 80px;
  margin-right:10px;
}

.c-content__pic--item:last-child {
	margin-right: 0;
}

.c-content__detail span{
	display: inline-block;
	width: 50%;
}
.c-content__detail-time {
	font-size: .6rem;
	color: #aeaeae;
	text-align: left;
}

.c-content__detail-status {
	font-size: .6rem;
	color: #3ca2fc;
	text-align: right;
}
.c-content__detail-location{
  font-size: .6rem;
  color:#aeaeae;
  text-align: right;
}
.c-content__recommend--label{
	color: #919191;
	border: 1px solid #e6e6e6;
	padding: .1rem .8rem;
	display: inline-block;
}

.c-content__recommend--closeBtn {
	position: absolute;
	right: 0;
	top: .4rem;
}
.c-content__detail-space{
  font-size: .6rem;
	color: #000;
}
