.c-discovery__icons{
  color: #3ca2fc;
}
.c-discovery .icon-border{
  width: 60px;
  height: 60px;
  border: 1px solid #3ca2fc;
  border-radius: 50%;
}

.c-discovery__icons .icon{
  font-size: 36px;
  line-height: 60px;
}
