html,
body {
    background-color: #fff;
}
.msg-main {
	padding: .5rem 1rem; 
}

.msg-main__header .aui-list, .msg-main__header .aui-list-item {
	background: none;
	border: none;
}

.msg-main__header  .aui-dot{
	right: 50%;
	top: .6rem;
	left: 1.6rem;
}

.msg-main__content .msg-main__count, .msg-main__content .tech-icon {
	color: #3ca2fc;
	padding-left: .6rem;
	font-size: .6rem;
}

.msg-main__content .aui-list-item-title {
	line-height: 1.8rem;
}
.msg-main__content .aui-info .aui-info-item {
	font-size: .6rem;
}