.project-tab__header {
	background-color: #fff;
	color: #3a3a3a;
	padding: 0 .5rem;
	border-bottom: 1px solid #eee;
}
.project-tab__header a {
	color: #3a3a3a;
}
.project-tab__header .tech-icon_diandian {
	font-weight: bold;
}

.project-tab__option {
	border-bottom: 1px solid #eee;
}
.project-tab__option .aui-tab-item{
	margin: auto 7%;
	color: #acb4bb;
	font-weight: bold;
}

.project-tab__option .aui-tab-item.aui-active {
	color: #3a3a3a;
	border-bottom: 2px solid #3ca2fc;

}