html,
body {
	background-color: #fff;
}
.btn {
	width: .9rem;
	height: 1rem;
	display: inline-block;
}

.icon-blue {
	color: #42a3f8;
}

.icon-grey {
	color: #949494;
}

.icon-small {
	font-size: .7rem;
	vertical-align: middle;
}

.project-material {
	padding: .5rem 1rem; 
}

.project-material .aui-row {
	padding-bottom: .5rem;
}

.project-material .aui-row:nth-child(2) {
	padding-bottom: .5rem;
	border-bottom: 1px solid rgba(139,139,139,0.2); 
}

.project-material__text {
	font-size: 0.7rem;
    color: #333333;
    padding: auto .5rem;
}

.project-material__image {
	max-height: 4rem;
	overflow: hidden;
    padding: auto .5rem;
}

.project-material__video {
	overflow: hidden;
    padding: auto .5rem;
    max-height: 10rem;
}

.project-material__video img {
	width: 100%;
}

 .project-material__footer {
	font-size: .6rem;
	color: #8b8b8b;
	line-height: 1rem;
 }

.project-edit {
    width: 2rem;
    height: 2rem;
    position: fixed;
    right: 1rem;
    bottom: 2rem;
    z-index: 1
}
.project-edit .tech-icon {
    font-size: 2rem;
    color: #42a3f8;
}

.tech-icon_video2 {
	position: absolute;
	left: 38%;
	top: 35%;
	left: calc(50% - 1rem);
	top: calc(50% - 1rem);
	font-size: 2rem;
	color: rgba(255,255,255,0.8);
	display: block;
}


