html,
body {
    background-color: #fff;
}
.c-search{
  background-color: #fff;
  margin-bottom: 1rem;
}

.c-search__redirect {
	text-align: center;
	display: block;
	background-color: #f6f6f6;
	margin: 0;
	border-radius: 0;
	height: 2rem;
	line-height: 2rem;
}

.c-search__input {
	background-color: #f6f6f6;
	height: 2rem;
	line-height: 2rem;
	margin: 0;
	display: block;
}

.c-search__input input{
	display: inline-block;
	width: 80%;
}

.c-search .c-search__btn {
	padding-right: 0; 
}
.c-search .c-search__btn-back {
	font-size: 1.2rem;
	display: inline-block;
}
.c-search .c-search__btn-clear {
	top: 8px;
}
